{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur challengweb_api</h1>
    <div class="container text-danger">
    <p>Désolé des contenu riche en couleur seront disponible tres prochainement</p>
    </div>
    <div class="container ">
        <img src="{{ asset('images/maintenance.png')}}" alt="Image de maintenance" />
    </div>
{% endblock %}
ok